<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel = "stylesheet" integrity = "sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin = "anonymous">    
    <title>Home</title>
</head>
<body>
    <nav class = "navbar navbar-expand-lg d-lg-block sticky-top" style = "background-color: black">
        <div class = "container">
            <!-- Navbar brand -->
            <!-- <a class="navbar-brand nav-link" href="">
            <strong>MDB</strong>
            </a> -->
            <!-- <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
            aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
            </button> -->
            <!-- <div class = "navbar-inline d-flex"> -->
                <h1 class = " text-white">Gig Fix</h1>
                <div class = "navbar-inline">
                    <ul class = "navbar-nav ">
                        <li class = "nav-item active">
                            <a class = "nav-link text-white" aria-current = "" href = "/musician">Musician Registration/Login</a>
                        </li>
                        <li class = "nav-item">
                            <a class = "nav-link text-white" href = "/band">Band Registration/Login</a>
                        </li>
                    </ul>
                </div>

                <!-- <ul class="navbar-nav d-flex flex-row"> -->
                <!-- Icons -->
                    <!-- <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="" rel="nofollow"
                            target="_blank">
                        <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="" rel="nofollow" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="" rel="nofollow" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="" rel="nofollow" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                </ul> -->
            <!-- </div> -->
        </div>
    </nav>

        <!-- <div class = "container">
            <h1 class = 'text-center'>Gig Fix</h1>
        <div> -->


    <div id="intro" class="bg-image" style = "background-image: url(../static/assests/img/background/stage6.webp); height: 100vh; background-repeat: no-repeat;">
        <div class="">
            <div class="container d-flex align-items-center justify-content-center text-center">
                <div class="">
                    <!-- <h1 class="mt-5 text-white">Gig Fix</h1> -->
                    <!-- <a class="btn btn-outline-light btn-lg m-2" href="" role="button"
                        rel="nofollow" target="_blank">Start tutorial</a>
                    <a class="btn btn-outline-light btn-lg m-2" href="" target="_blank"
                        role="button">Download MDB UI KIT</a> -->
                </div>
            </div>
        </div>
    </div>


                <div class="container mt-5">
                <!--Section: Content-->
                <section>
                    <div class="row">
                    <div class="col-md-6 gx-5 mb-4">
                        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="https://mdbootstrap.com/img/new/slides/031.jpg" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                        </div>
                    </div>
            
                    <div class="col-md-6 gx-5 mb-4">
                        <h4><strong>Facilis consequatur eligendi</strong></h4>
                        <p class="text-muted">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
                        eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
                        sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
                        </p>
                        <p><strong>Doloremque vero ex debitis veritatis?</strong></p>
                        <p class="text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
                        nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
                        alias, unde optio accusantium soluta, iusto molestiae adipisci et?
                        </p>
                    </div>
                    </div>
                </section>


                <div class="container">
                    <!--Section: Content-->
                    <section>
                        <div class="row">
                        <div class="col-md-6 gx-5 mb-4">
                            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                            <img src="https://mdbootstrap.com/img/new/slides/031.jpg" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                            </div>
                        </div>

                        <div class="col-md-6 gx-5 mb-4">
                            <h4><strong>Facilis consequatur eligendi</strong></h4>
                            <p class="text-muted">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
                            eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
                            sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
                            </p>
                            <p><strong>Doloremque vero ex debitis veritatis?</strong></p>
                            <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
                            nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
                            alias, unde optio accusantium soluta, iusto molestiae adipisci et?
                            </p>
                        </div>
                        </div>
                    </section>




                    <div class="container">
                        <!--Section: Content-->
                        <section>
                            <div class="row">
                            <div class="col-md-6 gx-5 mb-4">
                                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                                <img src="https://mdbootstrap.com/img/new/slides/031.jpg" class="img-fluid" />
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                                </div>
                            </div>

                            <div class="col-md-6 gx-5 mb-4">
                                <h4><strong>Facilis consequatur eligendi</strong></h4>
                                <p class="text-muted">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
                                eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
                                sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
                                </p>
                                <p><strong>Doloremque vero ex debitis veritatis?</strong></p>
                                <p class="text-muted">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
                                nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
                                alias, unde optio accusantium soluta, iusto molestiae adipisci et?
                                </p>
                            </div>
                            </div>
                        </section>




                        <div class="container">
                            <!--Section: Content-->
                            <section>
                                <div class="row">
                                <div class="col-md-6 gx-5 mb-4">
                                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                                    <img src="https://mdbootstrap.com/img/new/slides/031.jpg" class="img-fluid" />
                                    <a href="#!">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                    </div>
                                </div>

                                <div class="col-md-6 gx-5 mb-4">
                                    <h4><strong>Facilis consequatur eligendi</strong></h4>
                                    <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
                                    eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
                                    sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
                                    </p>
                                    <p><strong>Doloremque vero ex debitis veritatis?</strong></p>
                                    <p class="text-muted">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
                                    nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
                                    alias, unde optio accusantium soluta, iusto molestiae adipisci et?
                                    </p>
                                </div>
                                </div>
                            </section>






        </div>
    </div>
</body>
</html>