<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">    
    <style>
        #intro {
            background-image: url(../static/assests/img/background/musician_login.jpg);
        }
    </style>
    <title>Musician Login</title>
</head>
<body>

    <div id = "intro">
        <div class = "d-flex justified-content-evenly" style = "background-color: rgba(0, 0, 0, 0.8);">

            <div class = "container mask m-5">
                <form action = "/musician/register" class = "rounded-4 shadow-5-strong" style = "background-color: rgb(204, 190, 139);" method = "post">
                    <div >
                        <h2 class = "text-center">Register</h2>
                        <div class = "text-light bg-danger rounded-4 m-4">
                            <!-- <div class = ""> -->
                                {% with messages = get_flashed_messages(category_filter = ["category1"]) %}
                                <!-- declare a variable called messages -->
                                    {% if messages %}
                                    <!-- check if there are any messages -->
                                        {% for message in messages %}
                                        <!-- loop through the messages -->
                                            <p>{{message}}</p>
                                            <!-- display each message in a paragraph tag -->
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                            <!-- </div> -->
                        </div>

                        <div class = "m-4">
                            <label for = "first_name" class = "form-label">First Name:</label>
                            <input type = "text" class = "form-control" name = "first_name" placeholder = "Enter First Name">
                            <br/>

                            <label for = "last_name" class = "form-label">Last Name:</label>
                            <input type = "text" class = "form-control" name = "last_name" placeholder = "Enter Last Name">
                            <br/>

                            <label for = "genre" class = "form-label">Genre:</label>
                            <input type = "text" class = "form-control" name = "genre" placeholder = "Enter Genre">
                            <br/>

                            <label for = "city" class = "form-label">City:</label>
                            <input type = "text" class = "form-control" name = "city" placeholder = "Enter City">
                            <br/>

                            <label for = "state" class = "form-label">State:</label>
                            <input type = "text" class = "form-control" name = "state" placeholder = "Enter State Abbreviation">
                            <br/>

                            <label for = "experience" class = "form-label">Experience:</label>
                            <input type = "number" class = "form-control" name = "experience" placeholder = "Enter Years of Experience">
                            <br/>

                            <label for = "instrument" class = "form-label">Instrument:</label>
                            <input type = "text" class = "form-control" name = "instrument" placeholder = "Enter Your Instrument">
                            <br/>

                            <label for = "availability" class = "form-label">Availability:</label>
                            <input type = "text" class = "form-control" name = "availability" placeholder = "Enter the Days You're Available">
                            <br/>

                            <!-- <label for = "formFile" class = "form-label">Profile Picture:</label>
                            <input type = "file" class = "form-control" name = "profile_pic" id = "formFile">
                            <br/> -->

                            <label for = "email" class = "form-label">Email:</label>
                            <input type = "email" class = "form-control" name = "email" placeholder = "Enter Email">
                            <br/>

                            <label for = "password" class = "form-label">Password:</label>
                            <input type = "password" class = "form-control" name = "password" placeholder = "Enter Password">
                            <br/>

                            <label for = "confirm_password" class = "form-label">Confirm Password:</label>
                            <input type = "password" class = "form-control" name = "confirm_password" placeholder = "Confirm Password">
                            <br/>

                            <label for = "description" class = "form-label">Description:</label>
                            <textarea type = "text" class = "form-control  mb-2" name = "description" rows = "5" placeholder = "Enter a Description of Yourself"></textarea>
                        </div>
                        <button type = "submit" class = "mx-4 mb-2 btn btn-primary">Register</button>
                    </div>
                </form>
            </div>

            <div class = "container m-5">
                <form action = "/musician/login" class = "rounded-4 shadow-5-strong" style = "background-color: rgb(204, 190, 139);" method = "post">
                    <div>
                        <h2 class = "text-center">Login</h2>
                        <div class = "text-light bg-danger rounded-4 m-4">
                            <!-- <div class = ""> -->
                                {% with messages = get_flashed_messages(category_filter = ["category2"]) %}
                                <!-- declare a variable called messages -->
                                    {% if messages %}
                                <!-- check if there are any messages -->
                                        {% for message in messages %}
                                <!-- loop through the messages -->
                                        <p>{{message}}</p>
                                <!-- display each message in a paragraph tag -->
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                <!-- </div> -->                    
                        </div>

                        <div class = "m-4">
                            <label for = "" class = "form-label">Email:</label>
                            <input type = "email" class = "form-control" name = "email" placeholder = "Enter Email">
                            <br/>

                            <label for = "" class = "form-label my-2">Password:</label>
                            <input type = "password" class = "form-control mb-2" name = "password" placeholder = "Enter Password">
                        </div>
                    </div>
                    <button type = "submit" class = "btn btn-primary mx-4 mb-2">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>