<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">    
    <title>Edit Profile</title>
</head>
<body>
    <h1>profile edit!!</h1>
    <h1>musician profile!!</h1>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div></div>
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">My Requests</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>





    <div class = "">
        <div class = "d-flex justify-content-around">
            <!-- <div class = "row justified-content-md-center"> -->
            <div class="">

                <h1>profile details</h1>
            </div>
            
            
            
            <div class = "">
                    <h1>media stuff</h1>

                    <div class = "embed-responsive embed-responsive-16by9">
                        <iframe class = "embed-responsive-item" src = "https://www.youtube.com/watch?v=wJgk0OWjZIA" allowfullscreen></iframe>
                        <!-- <video autoplay loop class = "embed-responsive-item" src = "">
                            <source src = "https://techslides.com/demos/sample-videos/small.mp4" type = "video/mp4">
                        </video> -->
                    </div>

                    <table class = "table table-bordered">
                        <thead class = "table">
                            <tr>
                                <th scope = "col">Date Performed:</th>
                                <th scope = "col">Location:</th>
                                <th scope = "col">Performance:</th>
                            </tr>
                        </thead>
            
                        <tbody class = "">
                            <tr>
                                <td>date</td>
                                <td>location austin</td>
                                <td><a href = "">video link</a></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
                

                
            <div class = "">
                
                    <table class = "table table-bordered border border-3 border-dark">
                        <thead class = "table">
                            <tr>
                                <th scope = "col">Available Days:</th>
                            </tr>
                        </thead>
            
                        <tbody class = "">
                            <tr>
                                <td>dates from musician</td>
                            </tr>
                        </tbody>
                    </table>

                    <h2>calendar</h2>
                <form action="">
                    <p>Request date</p>
                    <input type = "date" class = "form-control border-3 border-dark" name = "date_made">
                    <button type="submit" class="btn btn-success">Request Date</button>
                </form>

            </div>
        </div>

    </div>

</body>
</html>