<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">    
    <style>
        #intro {
            background-image: url(../static/assests/img/background/band_login.jfif);
        }
    </style>
    <title>Edit Profile</title>
</head>
<body style = "background-color: rgb(204, 190, 139);">
    <div>
        <div>
            <nav class = "navbar navbar-expand-lg d-lg-block" style = "background-color: rgb(35,100,138);">
                <!-- style = "background-color: rgb(35, 100, 138)"> -->
                <div class = "container mt-3 mb-3">
                    <h1 class = " text-white">Edit Profile</h1>
                    <div class = "navbar-inline">
                        <ul class = "navbar-nav ">
                            <li class = "nav-item active mx-3">
                                <a class = "btn text-white border" style = "background-color: rgb(204, 190, 139);" href = "/profile">Back</a>
                            </li>
                            <li class = "nav-item">
                                <a class = "btn border text-light" style = "background-color: rgb(163,0,0);" href = "/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class = "container mask m-5 mx-auto w-50">
                <form action = "/profile/update" class = "rounded-4 shadow-5-strong text-light border border-3" style = "background-color: rgb(35,100,138);"  method = "post">
                    <input type = "hidden" name = "musician_id" value = "{{session.musician_id}}">
                    <!-- <input type = "hidden" name = "password" value = "session.musician.password"> -->
                    <div class = "p-2">
                        <!-- <h1 class = "text-center">Edit Your Profile</h1> -->
                        <div class = "text-light text-center bg-danger rounded-4 m-4">
                            <!-- <div class = ""> -->
                                {% with messages = get_flashed_messages(category_filter = ["category1"]) %}
                                <!-- declare a variable called messages -->
                                    {% if messages %}
                                    <!-- check if there are any messages -->
                                        {% for message in messages %}
                                        <!-- loop through the messages -->
                                            <p class = "p-2">{{message}}</p>
                                            <!-- display each message in a paragraph tag -->
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                            <!-- </div> -->
                        </div>

                        <div class = "m-4">
                            <label for = "first_name" class = "form-label">First Name:</label>
                            <input type = "text" class = "form-control" name = "first_name" value = "{{ musician.first_name }}">
                            <br/>

                            <label for = "last_name" class = "form-label">Last Name:</label>
                            <input type = "text" class = "form-control" name = "last_name" value = "{{ musician.last_name }}">
                            <br/>

                            <label for = "genre" class = "form-label">Genre:</label>
                            <input type = "text" class = "form-control" name = "genre" value = "{{ musician.genre }}">
                            <br/>

                            <label for = "city" class = "form-label">City:</label>
                            <input type = "text" class = "form-control" name = "city" value = "{{ musician.city}}">
                            <br/>

                            <label for = "state" class = "form-label">State:</label>
                            <input type = "text" class = "form-control" name = "state" value = "{{ musician.state }}">
                            <br/>

                            <label for = "experience" class = "form-label">Experience:</label>
                            <input type = "number" class = "form-control" name = "experience" value = "{{ musician.experience }}">
                            <br/>

                            <label for = "instrument" class = "form-label">Instrument:</label>
                            <input type = "text" class = "form-control" name = "instrument" value = "{{ musician.instrument }}">
                            <br/>
                            
                            <label for = "availability" class = "form-label">Availability:</label>
                            <input type = "text" class = "form-control" name = "availability" value = "{{ musician.availability }}">
                            <br/>

                            <label for = "description" class = "form-label">Description:</label>
                            <textarea class = "form-control " type = "text"  name = "description" rows = "5">{{ musician.description }}</textarea>
                        </div>
                        <button type = "submit" class = "mx-4 mb-3 btn btn-success border">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>