<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Image Upload</title>
</head>
<body style = "background-color: rgb(204, 190, 139);">
    <nav class = "navbar navbar-expand-lg d-lg-block" style = "background-color: rgb(35,100,138);">
        <div class = "container mt-3 mb-3">
            <h1 class = " text-white">Add Profile Picture</h1>
            <div class = "navbar-inline">
                <ul class = "navbar-nav ">
                    <li class = "nav-item active mx-3">
                        <a class = "btn text-white border" style = "background-color: rgb(204, 190, 139);" href = "/profile">Back</a>
                    </li>
                    <li class = "nav-item">
                        <a class = "btn border text-light" style = "background-color: rgb(163,0,0);" href = "/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class = "container mask m-5 mx-auto w-50">
        <form action = "/profile/add/image" class = "rounded-4 shadow-5-strong text-light border border-3" style = "background-color: rgb(35,100,138);" method = "post", enctype = "multipart/form-data">
            <input type = "hidden" name = "musician_id" value = "{{ session.musician_id }}">
            <!-- <h1 class = "text-center">Add Profile Picture</h1> -->
            <div class = "text-light text-center bg-danger rounded-4 m-4">
                <!-- <div class = ""> -->
                    {% with messages = get_flashed_messages() %}
                    <!-- declare a variable called messages -->
                        {% if messages %}
                        <!-- check if there are any messages -->
                            {% for message in messages %}
                            <!-- loop through the messages -->
                                <p class = "p-2">{{message}}</p>
                                <!-- display each message in a paragraph tag -->
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                <!-- </div> -->
            </div>

            <div class = "m-4">
                <label for = "profile_pic" class = "form-label">Profile Picture:</label>
                <input type = "file" class = "form-control" name = "profile_pic">
            </div>
            <button type = "submit" class = "mx-4 mb-4 btn btn-success border text-light " >Add Picture</button>
        </form>
    </div>
</body>
</html>